<!DOCTYPE html>
<html>
	<head>
		<title> Occupations </title>
		<style> table, th, td{ border: 1px solid black;} </style>
	</head>

	<body>
		<h1> Occupations </h1>
		<h2> Random Occupation Selector </h3>
		<p> Your chossen occupation is: <a href={{choice[2]}}> {{ choice[0] }}</a> </p>
		<table>
			<tr>
				<th>Occupation</th>
				<th>Percentage</th>
			</tr>
			{% for job in info %}
			<tr>
				<th> {{info[job][0]}} </th>
				<th> {{info[job][1]}} </th>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
